@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 600;
}

form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  width: 300px;
  height: 42px;
  padding: 20px 7px;
  font-size: 20px;
}

.button {
  background: linear-gradient(to right, #f5af19, #f12711);
  border: none;
  width: 160px;
  height: 36px;
  color: white;
  border-radius: 10px;
  padding: 0;
  text-transform: uppercase;
}

.displayContainer {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display {
  font-size: 20px;
  border: 1px solid #f12711;
  border-radius: 16px 0 0 16px;
}

.buttonCopy {
  background: linear-gradient(to right, #f5af19, #f12711);
  border: none;
  height: 42px;
  color: white;
  border-radius: 0 16px 16px 0;
  text-transform: uppercase;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
